<!DOCTYPE html>
<html>
	<head>
		<title>
			Dashboard
		</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static "assets/templates/semantic/dist/semantic.min.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "assets/css/custom.css" %}">
		<script src="{% static "assets/javascript/index.js" %}"></script>
		<script async defer
	      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXN8tWeYOQKcn20Ata9-51ABcHWbrLZZw">
	    </script>
	</head>
	<body>
		{%	include "html/header.html"  %}
		{% block content %}{% endblock %}
		{%	include "html/footer.html"  %}
	</body>
</html>