{% extends 'base.html' %}

{% block more_styles %}
	<style type="text/css">
	    body {
	      background-color: #21BA45;
	    }
	    body > .grid {
	      height: 100%;
	    }
	    .image {
	      margin-top: -100px;
	    }
	    .column {
	      max-width: 450px;
	    }
	  </style>
{% endblock %}

{% block more_js %}
  <script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'email',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Por favor escriba su e-mail'
                },
                {
                  type   : 'email',
                  prompt : 'Por favor escriba un e-mail valido'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Por favor escriba su contraseña'
                }
              ]
            }
          }
        })
      ;
    })
  ;
  </script>
{% endblock %}

{% block content %}
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui image header">
      <!-- <img src="assets/images/logo.png" class="image"> -->
      <div class="">
        Inicia Sesion con tu cuenta
      </div>
    </h2>
    <form class="ui large form" method="post">
      <div class="ui stacked segment">
				{% csrf_token %}
				{% include "includes/_forms.html" with form=form only %}
        <div class="ui fluid large teal submit button">Login</div>
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      No tienes cuenta aun? <a href="{% url 'new_user' %}">Sign Up</a>
    </div>
  </div>
</div>
{% endblock %}
