{% extends "html/base.html" %}

{% block content %}
<div id="map" style="height:0px;width:100%;">
	<style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
</div>
{% load static %}
<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Perfil {{ user.username }}
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="../{{user.perfil.foto}} ">
    </div>
    <div class="description">
		<form class="ui form">
		  <h4 class="ui dividing header">Informacion Personal</h4>
		  <div class="field">
		    <label>Nombre</label>
		    <div class="two fields">
		      <div class="field">
		        <input type="text" name="shipping[first-name]" placeholder="First Name" value="rogelio">
		      </div>
		      <div class="field">
		        <input type="text" name="shipping[last-name]" placeholder="Last Name" value="{{user.last_name}}">
		      </div>
		    </div>
		  </div>
		  <div class="field">
		    <label>Direccion</label>
		    <div class="fields">
		      <div class="twelve wide field">
		        <input type="text" name="shipping[address]" placeholder="Street Address">
		      </div>
		      <div class="four wide field">
		        <input type="text" name="shipping[address-2]" placeholder="Apt #">
		      </div>
		    </div>
		  </div>
		  <div class="two fields">
		    <div class="field">
		      <label>Estado</label>
		      <select class="ui fluid dropdown">
		        <option value="">Estado</option>
			    <option value="AL">Alabama</option>
			    <option value="AK">Alaska</option>
			    <option value="AZ">Arizona</option>
			    <option value="AR">Arkansas</option>
			    <option value="CA">California</option>
			    <option value="CO">Colorado</option>
			    <option value="CT">Connecticut</option>
			    <option value="DE">Delaware</option>
			    <option value="DC">District Of Columbia</option>
			    <option value="FL">Florida</option>
			    <option value="GA">Georgia</option>
		      </select>
		    </div>
		    <div class="field">
		     	<label>Pais</label>
		     	<div class="ui fluid search selection dropdown">
		        	<input type="hidden" name="country">
		        	<i class="dropdown icon"></i>
		        	<div class="default text">Select Country</div>
	        		<div class="menu">
			    		<div class="item" data-value="af"><i class="af flag"></i>Afghanistan</div>
			    		<div class="item" data-value="mx"><i class="mx flag"></i>Mexico</div>

			  		</div>
		      	</div>
		    </div>
		  </div>
		</form>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Cancelar
    </div>
    <div class="ui positive right labeled icon button">
      Guardar
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
{% endblock %}